<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CRUD NODEJS / EXPRESS / MOGODB</title>
</head>
<body>

<h2>Registered Members</h2>
  <table border="1">
    <thead>
        <tr>
            <td>Student FName</td>
            <td>Student SName</td>
            <td>Student Course</td>
            <td>Student ID</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
    <% data.forEach(function(details) { %>
        <tr>
            <td><%= details.name %></td>
            <td><%= details.surname %></td>
            <td><%= details.course %></td>
            <td><%= details.studentid %></td>
            <td><a href="/edit/<%= details._id %>">Edit</a> - <a href="/delete/<%= details._id %>">Delete</a></td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <button><a href="/">New Register</a></button>
</body>
</html>